@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Raleway:400,700,400italic,700italic);

* {
	position: relative;
	margin: 0;
	padding: 0;
	color: #ffffff;
}

header{
	top: 0;
	min-height: 160px;
	width: 100%;
	background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
}

body{
	font-family: 'Helvetica', 'Arial', sans-serif;
	background: url(../Pics/bg5.png) no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

h1{
	text-align: center;
	text-decoration: underline;
}

nav {
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 9999;
}

nav input {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

nav label {
	cursor: pointer;
	display: block;
	font: 2em/1 'Oswald', sans-serif;
	padding: 0.5em;
}

/*Ícono*/
#menu-icon,
#menu-icon:before,
#menu-icon:after {
	background: #BDBDBD;
	border-radius: 0.05em;
	height: 0.2em;
	transition: all 0.2s ease-in-out;
	padding-right: 1%;
	width: 100%;
}

#menu-icon {
	display: inline-block;
	margin: 3% 3%;
	max-width: 1em;
	position: relative;
}

nav label #menu-icon {
	float: right;
}

#menu-icon:before,
#menu-icon:after {
	content: '';
	left: 0;
	position: absolute;
}

#menu-icon:before {
	top: -0.4em;
}

#menu-icon:after {
	bottom: -0.4em;
}

nav input[type=checkbox]:checked + label #menu-icon {
	background: transparent;
}

nav input[type=checkbox]:checked + label #menu-icon:before {
	top: 0;
	transform: rotate(-45deg);
}

nav input[type=checkbox]:checked + label #menu-icon:after {
	bottom: 0;
	transform: rotate(45deg);
}

nav input:checked ~ #overlay {
	background-color: rgba(0,0,0,0.95);
	bottom: 0;
	left: 0;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	width: 100vw;
	z-index: -1;
}

nav ul {
	font-size: 1.5em;
	list-style: none;
	margin: 0;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
}

nav input:checked ~ ul {
	margin: 1em;
	max-height: inherit;
	opacity: 1;
}

nav ul > li {
	margin: 0.5em 0;
}

nav ul a {
	color: #BDBDBD;
	text-decoration: none;
}

nav ul a:hover {
	font-weight:bold;
}

h2{
	text-align:center;
}

.conc{
	padding-top: 2em;
	padding-bottom: 2em;
	margin-left: 3%;
	margin-right: 3%;
	text-align: center;
}

.imgdef{
	table-layout: fixed;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	vertical-align:top;
}

.imag img {
	padding-left: 11%;
	height: 75%;
	width: 75%;
}

footer {
	text-align: center;
	padding-top: 15em;
	font-size: 0.8em;
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));;
	min-height: 10em;
}